{% extends "base.html" %}

{% block cuerpo %}
<div class="row"> <!--fila en editar-->
    <div class="col-md-4 offset-md-4">
        <h2>Editar Venta</h2>

        <!--Aqui codigo tarjeta-->
        <div class="card"> <!--la tarjeta-->
            <div class="card-body">
                <form action="/editarventa_productos/" method="POST"> {% csrf_token %} <!--falta accion-->
                    <div class="form-growup">
                        <input type="text" id="numid_venta" class="form-control" name="numid_venta" value="{{misventaproductos.id_venta}}"  maxlength="6" required>
                    </div>

                    <div class="form-growup py-3">
                        <input type="text" id="numid_trabajador" class="form-control" name="numid_trabajador" value="{{misventaproductos.id_trabajador}}" maxlength="100" required>
                    </div>

                    <div class="form-growup py-2">
                        <input type="text" id="numid_cliente" class="form-control" name="numid_cliente" value="{{misventaproductos.id_cliente}}"  maxlength="100" required>
                    </div>

                    <div class="form-growup py-2">
                        <input type="text" id="numid_producto" class="form-control" name="numid_producto" value="{{misventaproductos.id_producto}}"  maxlength="100" required>
                    </div>

                    <div class="form-growup py-2">
                        <input type="text" id="txtfecha_venta" class="form-control" name="txtfecha_venta" value="{{misventaproductos.fecha_venta}}" maxlength="100" required>
                    </div>

                    <div class="form-growup py-2">
                        <input type="text" id="txttotal" class="form-control" name="txttotal" value="{{misventaproductos.total}}" maxlength="100" required>
                    </div>

                    <div class="form-growup py-1">
                        <button type="submit" class="btn btn-dark">Guardar Venta</button>
                    </div>
                </form>
            </div>
        </div>
        <!--Aqui codigo tarjeta-->
    </div>
</div> <!--fila en editar-->


{% endblock %}